<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Huu Phuc</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact with Huu Phuc</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by<a href="mailto:nguyenhuuphuc.yahoo@gmail.com?Subject=Hello%20Phuc%20Nguyen" target="_top"> Nguyen Huu Phuc </a>2016 ©. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
